html {
    height: 1vw;
    margin: 0;
    display: flex;
}

body {
    flex: 1;
    height: 1vw;
    margin: 0;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.player-buttons {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
}

.player-buttons button {
    flex: 1;
    align-self: center;
    display: -webkit-flex;
    display: flex;
    padding:0;
}

.player-buttons button img {
    width: 100%;
    /* flex: 1; */
    /* aspect-ratio: 1/1; */
}

#infos {
    margin-top: 3vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infos div {
    flex: 1;
}

#infos button {
    flex: 3;
    padding: 3vw;
    font-size: 2vw;
    border-radius: 10%;
}

#finalResult {
    font-size: 3vw;
    color: red;
    font-weight: bolder;
}

/*
<body>
    <div class="player-buttons">
        <button id="rock">Rock !</button>
        <button id="paper">Paper !</button>
        <button id="scissors">Scissors !</button>
    </div>
    
    <div id="currentRound"></div>

    <div id="currentResult"></div>

    <div id="finalResult"></div>

    <button id="resetButton" hidden="true">Reset</button>
*/